/* Provides styling for the visualization. */

body, div {
	font:400 11px system-ui;
	margin:0;
	padding:0;
}

button {
	width:30vw;
	height:50vh;
	display:inline-block;
	border:none;
	background-color:transparent;
	overflow: visible;
}

a {
	color:#91C9E2;
}