body {
	font:400 11px system-ui;
	margin:0;
	padding:0;
}


button#tooltipButton {
	width:25vw;
	height:25vh;
	display:inline-block;
	border:none;
	background-color:transparent;
	overflow: visible;
}

a {
	color:#91C9E2;
}