body {
	font:400 11px system-ui;
	margin:0;
	padding:0;
}


button#tooltipButton {
	width:25vw;
	height:15vh;
	display:inline-block;
	position: absolute;
	top:0;
	left:0;
	border:none;
	background-color:#ccc;
	overflow: visible;
}

button#tooltipButton.bottom {
	top:auto;
	bottom:0;
}



a {
	color:#91C9E2;
}